.main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.terms-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.terms-content {
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.accept-button,
.reject-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accept-button {
    background-color: #4CAF50;
    color: white;
}

.reject-button {
    background-color: #f44336;
    color: white;
}
